@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "inter";
}

main {
  font-family: 'Inter', sans-serif;
}

.hero-title {
  font-weight: 900;
}

body {
  background-color: #0B0B0F;
}

.h-screen-calc {
  height: calc(100vh - 7rem);
}
.card-color {
  background-color: #1A1B23;
}

.bg-hero {
  background-image: url("./images/Group-2.svg");
  background-repeat: none;
  background-size: cover;
}
/* .bg-card {
  background-image: url("./images/Group-1.svg");
  background-position: center;
} */

.border-custom {
  border: 2px solid #fff;
  border-radius: 4rem;
}

.leading-custom {
  line-height: 3.5rem;
}

.table-color {
  background-color: #1A1B23;
  padding: 1em;
  width: 90%;
  margin: 0 auto;
}

th, td {
  padding: 1em 3em;
  border-bottom: 0.7px solid #2B2C3B;
}
tr th:first-child {
  text-align: left;
}
tr td:nth-child(3) {
  text-align: right;
}

.button__gradient {
  background: linear-gradient(225deg, #18C8FF 0%, #933FFE 100%);
}
.circle__gradient {
  border-radius: 603px;
  background: linear-gradient(180deg, rgba(0, 194, 255, 0.00) 0%, #FF29C3 100%);
  filter: blur(100px);
}
.rectangle__gradient {
  background: linear-gradient(180deg, rgba(24, 75, 255, 0.00) 0%, #174AFF 100%);
  filter: blur(100px);
}
.first-order {
  z-index: 100;
}
.second-order {
  z-index: 0;
}